.header {
  background-color: #0086b3;
  padding: 20px;
  margin: auto;
  min-width: 50vh;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #1a1aff, 0 0 5px;
  text-align: center;
}

.section {
  background-color: #0086b3;
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  margin: 10px;
  width: 300px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}

.card:hover{
  transform: scale(1.1);
}

.description {
  text-align: center;
  margin: 5px 2px;
}

.footer {
  background-color: #0086b3;
  min-height: 25vh;
  width: 100%;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.errorSpan {
  display: block;
  font-size: 0.8rem;
  font-family: sans-serif;
  color: #ffff00;
  font-weight: 600;
  margin-top: 1rem;
} 

.successSpan {
  display: block;
  font-size: 0.8rem;
  font-family: sans-serif;
  color: #66ff33;
  font-weight: 600;
  margin-top: 1rem;
}